.box-f{
    width: 1410px;
    height: 420px;
    flex-wrap: wrap;
    margin: auto;

}
.box-2{
    position: relative;
    top: 0%; left: 40px; 
    width: 1100px;
    height: 420px;
    background-color:white;
}

h2{
    font-size: 70px;
    text-align:center;
    font-size: 40px;
    position: absolute;
    transform: translateX(35%) translateY(70%);

}
.line{
    position: relative;
    top: 125px; left: 60px; 
  border: 4px solid #197f5b ;
    height: 250px;
    width: 0px;
  }
  .box-3{
    position: relative;
    top: -27%; left: 150px; 
    width: 1100px;
    height: 240px;
   
}
.inp2{
  text-align:center;
  padding:7px 40px;
  background:#197f5b;
  border:0 none;
  cursor:pointer;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  position: relative; top: 20px; left: 400px;
  margin:auto;
}
.centrest{
 
  width: 1410px;
  height: 100px;
  

}
.student{
  text-align:center;
width: 1410x;
height: 500px;
display: flex;
position: relative; 

top: 20px; left: 150px;
grid-gap: 15px;

;

}
h2{
  text-align:center;
  font-size: 40px;
  position: absolute;
}
h5{
  text-align:center;
  font-size: 50px;
 
}






.stu-box0{
  /* position: relative;
  top: 21%; left:200px;  */
background:#f9f5f2;
  height: 390px;
  width: 450px;
border-radius: 10px;  

}
.stu-box1{
  /* position: relative;
  top: 21%; left:200px;  */
background:#f9f5f2;
  height: 390px;
  width: 450px;
border-radius: 10px; 
border: 10px; 

}
img{
  width: 150px;
  height: auto;
  margin: auto;
  display: block;
  cursor:pointer;
}
.stu-box2{
  /* position: relative;
  top: -43%; left:750px;  */
background:#f9f5f2;
  height: 390px;
  width: 450px;
  border-radius: 10px;  
}

/* .centr{
  text-align:center;
  width: 1410px;
  height: 300px;
  background: blue;

} */


.centr2{
  text-align:center;
  font-size: 40px;
  position: absolute;
  transform: 
  translateX(160%) translateY(-190%);
}
.contentContainer {
  background: withe;
  padding: 20px;
  max-width: 900px;
  min-width:350px;
  margin: auto;

}

.progressBar {
  
  margin-bottom: 10px;
}

.progressBar h4 {
  font-size: 21px;
  font-size: 15px;
  text-transform: none;
  font-weight: bold;
  margin-bottom: 10px;
  margin-bottom: 10px;
}

.progressBarContainer {
  width: 100%;
  max-width:800px;
  height: 10px;
  height: 15px;
  background: #f9f5f2;
  overflow: hidden;
  border-radius: 15px;
}

.progressBarValue {
  height: 100px;
  float: left;
  height: 10px;
  height: 15px;
  background:#197f5b;
  overflow: hidden;
  border-radius: 15px;
}

.value-00 { width: 0; }
.value-05 { width: 5%; }
.value-10 { width: 10%; }
.value-15 { width: 15%; }
.value-20 { width: 20%; }
.value-25 { width: 25; }
.value-30 { width: 30%; }
.value-35 { width: 35%; }
.value-40 { width: 40%; }
.value-45 { width: 45%; }
.value-50 { width: 50%; }
.value-55 { width: 55%; }
.value-60 { width: 60%; }
.value-65 { width: 65%; }
.value-70 { width: 70%; }
.value-75 { width: 75%; }
.value-80 { width: 80%; }
.value-85 { width: 85%; }
.value-90 { width: 90%; }
.value-95 { width: 95%; }
.value-100 { width: 100%; }

.exper-b{

  width: 1140px;
  height: 500px;
  background:#f9f5f2;
  position: absolute;
  transform: translateX(13%) translateY(0%);
  display: flex;
  flex-wrap: wrap;
}
.centr3{
  text-align:center;
  font-size: 40px;
  position: absolute;
  transform: translateX(200%) translateY(20%);
}

.cc1{
  position: relative;
  top: 30%; left: 50px; 
border: 2.5px solid #f9f5f2 ;
  height: 250px;
  width: 200px;
border-radius: 10px;  
text-align:center;
}

.cc2{
  position: relative;
  top: 30%; left: 55px; 
border: 2.5px solid #f9f5f2 ;
  height: 250px;
  width: 200px;
border-radius: 10px;  
text-align:center;
}
.cc3{
  position: relative;
  top: 20%; left: 460px; 
border: 2.5px solid #f9f5f2 ;
  height: 250px;
  width: 200px;
border-radius: 10px;  
text-align:center;
}
.cc4{
  position: relative;
  top: 30%; left: 65px; 
border: 2.5px solid #f9f5f2 ;
  height: 250px;
  width: 200px;
border-radius: 10px;  
text-align:center;
}
.cc5{
  position: relative;
  top: 30%; left: 70px; 
border: 2.5px solid #f9f5f2 ;
  height: 250px;
  width: 200px;
border-radius: 10px;  
text-align:center;
}
.downloadcv{
  width: 175px;
  height: 25px;
  background:#197f5b;
  border:0 none;
  cursor:pointer;
  -webkit-border-radius: 10px;
  border-radius: 10px;
 margin:auto;
}

.istg{
  z-index: 3;
  width: 90px;
  height: 90px;
  filter: invert(99%) sepia(71%) saturate(0%) hue-rotate(174deg) brightness(112%) contrast(100%);
  position: relative;
  top: 575px; left: 270px;

}
.itwt{
  z-index: 3;
  width: 90px;
  height: 90px;
  filter: invert(100%) sepia(71%) saturate(0%) hue-rotate(174deg) brightness(112%) contrast(100%);
  position: relative;
  top: 655px; left: -230px;

}
.imin{
  z-index: 3;
  width: 65px;
  height: 65px;
  filter: invert(100%) sepia(71%) saturate(0%) hue-rotate(174deg) brightness(112%) contrast(100%);
  position: relative;
  top: 765px; left: 130px;

}