@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

:root{
    --green: #197f5b
    --orange: #ef9919
    --gray-claro: #f9f5f2
    --gray-oscuro: #f9f5f2
    --white: #ffffff

    --f-Poppins: 'Poppins', sans-serif; 
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    min-width: 600px;
    max-width: 100%;
}

ul{
    list-style: none;
}

.header{
    background-image: url(./Imagenes/Estructura\ home\ mobile.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 1000px;
    min-width: 600px;
    max-width: 100%;
    padding: 1em;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

nav{
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    padding: .5em;
    display:flex;
    flex-direction: row-reverse;
}

nav ul{
    display: flex;
    gap: 1em;
}

nav ul{
    background-color: #197f5b;
    position: absolute;
    top: 50px;
    width: 100%;
    right: 0;
    padding: 1em 0;

    flex-direction: column;
  
    justify-content: center;
    transition: margin-top 0.5s;

    margin-top: -100%;
}

nav ul a{
    color: white;
    text-decoration: none;
}

nav ul li a p{
    color:#ef9919;
}
/* 
.show__menu{
    margin-top: 0;
} */

.icon_burger-show{
    display: block;
}



.header h1{
    font-size: 3.6em;
    color: white;
    margin-top: 2em;
}

.header h1 a{
    color:#ef9919;
}

.header h2{
    display: flex;
    justify-content: center;
    font-family: var(--f-Poppins);
    font-size: 2.1em;
    color: white;
    margin-top: 0.5em;
    text-align: center;
}

.Content_Design{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
}

.Content_Design1{
    background-color: white;
    padding: 0.5em;
    border-radius: 2em;
    text-align: center;
    width: 140px;
    margin: auto;
    margin-left: -0.5em;
    margin-top: 7em;
    color: gray; 
    border: 0.5px solid white;
}

.Content_Design1 h5:nth-child(2){
    color: #ef9919;
}

.Content_Design2{
    background-color: white;
    padding: 0.5em;
    border-radius: 2em;
    width: 23%;
    height: 50px;
    text-align: center;
    margin: auto;
    margin-right: 0em;
    margin-top: 14em;
    color: gray;
    border: 0.5px solid white;
}

.Content_Design2 h5:nth-child(2){
    color: #ef9919;
}

.header img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 320px;
    border-radius: 100px;
    margin: auto;
    margin-top: -5em;
}

.content_social{
    width: 90%;
    height: 70%;
    margin-top: 1.5em;
      
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin: auto;
}

.content_in{
    margin: 0em .4em;
    border-radius: 100px;
    border: 0.5px solid white;
    background-color: white;
    width: 60px;
    height: 60px;
}

.content_in svg{
    width: 35px;
    height: 35px;
    margin: 0.7em 0.7em;
}

.content_ig{
    margin-top: 4.2em;
    border-radius: 100%;
    border: 0.5px solid white;
    background-color: white;
    width: 60px;
    height: 60px;   
}

.content_ig svg{
    width: 35px;
    height: 35px;
    margin: 0.7em 0.7em;
}

.content_tw{
    margin: 0em .4em;
    border-radius: 100%;
    border: 0.5px solid white;
    background-color: white;
    width: 60px;
    height: 60px;
}

.content_tw svg{
    width: 35px;
    height: 35px;
    margin: 0.7em 0.7em;
}

.content_email{
    width: 560px;
    height: 200px;
    background-color: #f9f5f2 ;
    margin: auto;
    margin-top: -2em;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content_email p {
    font-size: 2.6em;
    text-align: center;
}

.content_email input {
    width: 500px;
    height: 40px;
    border-radius: 2em;
    border: 1px solid#f9f5f2 ;
    background-color: #f9f5f2;
    position: relative;
    outline: none;
}

.content_email .content_btn button{
    width: 100px;
    height: 35px;
    border-radius: 2em;
    border: 1px solid #197f5b;
    background-color: #197f5b;
    color: white;
    position: absolute;
    margin-top: 0.2em;
    margin-left: 85%;
}

.content_bio{
    margin-top: 3em;
    padding: 1em;
}

.content_bio h2{
    font-family: var(--f-Poppins);
    font-size: 3em;
}

.content_p{
    display: flex;
    justify-content: center;
    
}

.content_p h3{
    background-color: #197f5b;
    width: 5px;
    height: 240px;
    margin-left: 1em;
}

.content_p p{
    width: 100%;
    margin: 0.5em;
    font-size: 1.5em;
} 

.content_btn{
    display: flex;
    justify-content: center;
    position: relative;
}

.content_btn button{
   margin-top: 1em;
   margin: 2em;
   width: 170px;
   height: 35px;
   border-radius: 2em;
   border: 1px solid #197f5b;
   background-color: #197f5b;
   color: white;
   font-size: 1em;
}

.content_btn button p{
    margin-left: 1.4em; 
}

.content_svg{
    position: absolute;
    margin-top: 2.5em;
    margin-right: 7.5em;
    color: white;
}

.content_header h2{
    text-align: center;
    margin: .3em;
}
.content_study{
    display: flex; 
    justify-content: center;
    padding: 1em;   
    gap: 2em;
}

.content_cbts{
    width: 40%;
    padding: 1em;
    background-color: #F0EBE3;
    border-radius: 1em;
    gap: 1em;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.content_cbts img{
    width: 60px;
    height: 50px;   
}

.content_Acad{
    width: 40%;
    padding: 0.1em;
    background-color: #F0EBE3;
    border-radius: 1em;
    gap: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content_hab{
    text-align: center;
    margin: 3em;
}

.content_hab1{
    margin: 2em;
}

.content_hab1 p{
    font-weight: bold;
}

.content_hab2{
    width: 100%;
    height: 20px;
    background-color: #F0EBE3;
    border-radius: 1em;
    margin-top: 0.5em;
    position: relative;
}

.content_hab3{
    width: 100%;
    height: 20px;
    background-color: #197f5b;
    border-radius: 1em;
    position: absolute;
}

.content_hab1 .content_hab1-1 p{
    font-size: 10px;
    font-weight: bold;
    margin-top: -1.4em;
    margin: -0.7em;
    margin-left: 80%;
    color: #197f5b;
}

.content_hab1 .content_hab1-2 p{
    font-size: 10px;
    font-weight: bold;
    margin-top: -1.4em;
    margin: -0.7em;
    margin-left: 85%;
    color: #197f5b;
}

.content_hab1 .content_hab1-3 p{
    font-size: 10px;
    font-weight: bold;
    margin-top: -1.4em;
    margin: -0.7em;
    margin-left: 80%;
    color: #197f5b;
}

.content_hab1 .content_hab1-4 p{
    font-size: 10px;
    font-weight: bold;
    margin-top: -1.4em;
    margin: -0.7em;
    margin-left: 75%;
    color: #197f5b;
}

.content_tittle{
    text-align: center;
    background-color: #F0EBE3;
    width: 100%;
}

.content_interactive{
    display: flex; 
    justify-content: center;
    width: 100%;
    gap: 5em;
}

.content_int1{
    width: 20%;
    padding: 1em;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.content_int2{
    width: 20%;
    padding: 1em;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.Content_port{
    text-align: center;
    margin: 1em;
    font-size: 2em;
    font-weight: bold; 
}

.Content_port1{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 1em;
}

.Content_port1 p:nth-child(1){
    color: #ef9919;
}

.Content_port2{
    padding: 1em;
}

.Content_port3{
    width: 100%;
    height: 380px;
    padding: 1em;
    gap: 4.5em; 
    display: flex;
    justify-self: center;
}

.Content_port3 img:nth-child(1){
    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

.Content_port3 img:nth-child(2){
    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}

.Content_port4{
    padding: 1em;
}

.Content_contact{
    text-align: center;
    margin: 1em;
    font-size: 2em;
    font-weight: bold; 
}

.Content_contact1{
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.Content_celular{
    text-align: center;
}

.Content_email{
    text-align: center;
}

.Content_svg1{
    width: 70px;
    height: 70px;
    display: inline-flex;
    justify-content: center;
    border-radius: 100%;
    margin: .5em;
    background-color: #F0EBE3;
}

.Content_svg1 svg{
    width: 60%; 
    margin: 1em;   
}

.Content_celular p:nth-child(2){
    font-size: 1.1em;
    font-weight: bold;
    margin: .2em;
}

.Content_celular p:nth-child(3){
    color: grey;
}

.Content_svg2{
    background-color: #F0EBE3;
    width: 70px;
    height: 70px;
    display: inline-flex;
    justify-content: center;
    border-radius: 100%;
    margin: .5em;
}

.Content_svg2 svg{
    width: 60%;
    margin: 1em;
}

.Content_email p:nth-child(2){
    font-size: 1.1em;
    font-weight: bold;
    margin: .2em;
}

.Content_email p:nth-child(3){
    color:rgb(128, 128, 128) ;
}

.Content_final{
    background-color: #197f5b;
    margin-top: 5em;
    height: 200px;
}

.Content_final p:nth-child(1){
    text-align: center;
    padding: 1em;
    font-size: 3em;
    font-family: var(--f-Poppins);
    color: white;
}

.Content_final p:nth-child(2){
    text-align: center;
    padding: 0.2em;
    font-size: 1.2em;
    color: white;
}

@media (min-width: 800px){
    .header{
        background-image: url(./Imagenes/Estructura\ home\ esktop.png);
        background-size: cover;
        background-position: center;
        
    }

    nav{
        position: fixed;
        top: 0;
        width: 100%;
        max-width: 100%;
        display:flex;
        flex-direction: row-reverse;
    }

    nav ul{
    
        top: 0;        
        padding: 3em 1em;
        flex-direction: row;
        justify-content: flex-end;
        margin: auto;
    }

    nav ul a{
        color: white;
        text-decoration: none;
    }
    
    nav ul li a p{
        color:#ef9919;
    }

    .icon_burger{
        cursor: pointer;
        display: none;
        padding: 1em 4em;
    }  
    
    .header h1{
        font-size: 4.5em;
        color: white;
        margin-top: 1.8em;
    }
    
    .header h1 a{
        color:#ef9919;
    }

    .header h2{
        display: flex;
        justify-content: center;
        font-family: var(--f-Poppins);
        font-size: 2.7em;
        color: white;
        margin-top: 0.3em;
        text-align: center;
    }

    .Content_Design{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 50%;
    }
    
    .Content_Design1{
        background-color: white;
        padding: 0.5em;
        border-radius: 2em;
        text-align: center;
        width: 130px;
        margin: auto;
        margin-left: -0.9em;
        margin-top: 5em;
        color: gray; 
        border: 0.5px solid white;
    }

    .Content_Design1 h5:nth-child(1){
        font-size: 0.9em;
    }
    
    .Content_Design1 h5:nth-child(2){
        color: #ef9919;
        font-size: 0.8em;
    }
    
    .Content_Design2{
        background-color: white;
        padding: 0.5em;
        border-radius: 2em;
        width: 23%;
        height: 50px;
        text-align: center;
        margin: auto;
        margin-right: -1em;
        margin-top: 14em;
        color: gray;
        border: 0.5px solid white;
    }
    
    .Content_Design2 h5:nth-child(1){
        font-weight: 0.9em;
    }

    .Content_Design2 h5:nth-child(2){
        color: #ef9919;
        font-weight: 0.8em;
    }

    .header img{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 300px;
        height: 320px;
        border-radius: 100px;
        margin-top: -8em;
    }

    .content_social{
        width: 40%;
        height: 50%;
        margin-top: 2em;
          
        display: flex;
        justify-content: center;
        justify-content: space-between;
    
    }
    
    .content_in{
        margin: 0em 1em;
        border-radius: 100px;
        border: 0.5px solid white;
        background-color: white;
        width: 60px;
        height: 60px;
    }
    
    .content_in svg{
        width: 35px;
        height: 35px;
        margin: 0.7em 0.7em;
    }
    
    .content_ig{
        margin-top: 4.2em;
        border-radius: 100%;
        border: 0.5px solid white;
        background-color: white;
        width: 60px;
        height: 60px;   
    }
    
    .content_ig svg{
        width: 35px;
        height: 35px;
        margin: 0.7em 0.7em;
    }
    
    .content_tw{
        margin: 0em 1em;
        border-radius: 100%;
        border: 0.5px solid white;
        background-color: white;
        width: 60px;
        height: 60px;
    }
    
    .content_tw svg{
        width: 35px;
        height: 35px;
        margin: 0.7em 0.7em;
    }

    .content_email{
        width: 780px;
        height: 200px;
        background-color: #f9f5f2 ;
        margin: auto;
        margin-top: -2em;
    
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .content_email p {
        font-size: 1.8em;
        padding: 1em;
        text-align: center;
    }

    .content_email input{
        width: 680px;
        height: 50px;
        border-radius: 2em;
        border: 1px solid #F0EBE3;
        background-color: #F0EBE3;
        position: relative;
        outline: none;
    }

    .content_email .content_btn button{
        width: 200px;
        height: 45px;
        border-radius: 2em;
        border: 1px solid #197f5b;
        background-color: #197f5b;
        color: white;
        position: absolute;
        margin-top: 0.2em;
        margin-left: 75%;
    }

    .content_bio{
        margin-top: 6em;
        padding: 5em 5em;
    }
    
    .content_bio h2{
        font-family: var(--f-Poppins);
        font-size: 4em;
    }
    
    .content_p{
        display: flex;
        justify-content: center;
        
    }
    
    .content_p h3{
        background-color: #197f5b;
        width: 5px;
        height: 240px;
        margin-left: 5em;
        margin-top: -3em;
    }
    
    .content_p p{
        width: 100%;
        margin-top: -3em;
        font-size: 1.5em;
        padding: 1em 1em;
    } 
    
    .content_btn{
        display: flex;
        justify-content: center;
        position: relative;
    }
    
    .content_btn button{ 
       margin: 1.5em;
       width: 340px;
       height: 70px;
       border-radius: 2em;
       border: 1px solid #197f5b;
       background-color: #197f5b;
       color: white;
       font-size: 1.5em;
    }
    
    .content_btn button p{
        margin-left: 1.4em; 
    }
    
    .content_svg{
        position: absolute;
        margin-top: 3.2em;
        margin-right: 14em;
        color: white;
    }

    .content_svg svg{
        width: 40px;
        height: 40px;
    }

    .content_header h2{
        text-align: center;
        margin: 2em;
        font-size: 4em;
    }
    .content_study{
        display: flex; 
        justify-content: center;
        padding: 1em;   
        gap: 2em;
    }
    
    .content_cbts{
        width: 30%;
        padding: 3em;
        background-color: #F0EBE3;
        border-radius: 1em;
        gap: 1em;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        margin-top: -7em;
    }

    .content_cbts h4{
        font-size: 1.5em;
        font-weight: bold;
    }

    .content_cbts h5{
        font-size: 1em;
    }
    
    .content_cbts img{
        width: 110px;
        height: 90px;   
    }
    
    .content_Acad{
        width: 30%;
        padding: 2em;
        background-color: #F0EBE3;
        border-radius: 1em;
        gap: 1em;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: -7em;
    }

    .content_Acad h4{
        font-size: 1.5em;
        margin-top: 0.2em;
        font-weight: bold;
    }

    .content_Acad h5{
        font-size: 1em;
        margin-top: 0.2em;
    }

    .content_Acad img{
        width: 110px;
        height: 130px;
    }

    .content_hab{
        text-align: center;
        margin: 1em;
        font-size: 2em;
        margin-top: 2em;
    }
    
    .content_hab1{
        margin: 2em;
    }
    
    .content_hab1 p{
        font-weight: bold;
        padding-left: 13em;
    }
    
    .content_hab2{
        width: 63%;
        height: 20px;
        left: 13em;
        background-color: #F0EBE3;
        border-radius: 1em;
        margin-top: 0.5em;
        position: relative;
    }
    
    .content_hab3{
        width: 100%;
        height: 20px;
        background-color: #197f5b;
        border-radius: 1em;
        position: absolute;
    }
    
    .content_hab1 .content_hab1-1 p{
        font-size: 10px;
        font-weight: bold;
        margin-top: -1.4em;
        margin: -0.7em;
        margin-left: 56%;
        color: #197f5b;
    }
    
    .content_hab1 .content_hab1-2 p{
        font-size: 10px;
        font-weight: bold;
        margin-top: -1.4em;
        margin: -0.7em;
        margin-left: 59%;
        color: #197f5b;
    }
    
    .content_hab1 .content_hab1-3 p{
        font-size: 10px;
        font-weight: bold;
        margin-top: -1.4em;
        margin: -0.7em;
        margin-left: 56%;
        color: #197f5b;
    }
    
    .content_hab1 .content_hab1-4 p{
        font-size: 10px;
        font-weight: bold;
        margin-top: -1.4em;
        margin: -0.7em;
        margin-left: 53%;
        color: #197f5b;
    }

    .content_tittle{
        text-align: center;
        background-color: #F0EBE3;
        width: 100%;
        margin: 5em 0;
        font-size: 2em;
        padding: 1em;
    }
    
    .content_interactive{
        display: flex; 
        justify-content: center;
        width: 100%;
        gap: 5em;
    }
    
    .content_int1{
        width: 20%;
        padding: 1em;
        border-radius: 1em;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    
    .content_int2{
        width: 20%;
        padding: 1em;
        border-radius: 1em;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }   
    
    .Content_port{
        text-align: center;
        margin: 1em;
        font-size: 2.5em;
        font-weight: bold; 
    }
    
    .Content_port1{
        display: flex;
        justify-content: center;
        gap: 1.8em;
        font-size: 2em;
        font-weight: bold;
        margin-bottom: 1em;
    }
    
    .Content_port1 p:nth-child(1){
        color: #ef9919;
    }

    .Content_principal{
        display: flex;
        flex-wrap: wrap;
    }
    
    .Content_port2{
        padding: 1em;
    }

    .Content_port2 img{
        width: 500px;
        height: 350px;
    }
    
    .Content_port3{
        width: 45%;
        height: 430px;
        padding: 1em;
        gap: 0.5em; 
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    
    .Content_port3 img:nth-child(1){
        width: 300px;
        height: 350px;
        display: flex;
        flex-direction: column;
    }
    
    .Content_port3 img:nth-child(2){
        width: 300px;
        height: 350px;
        display: flex;
        flex-direction: column;
    }
    
    .Content_port4{
        padding: 1em;
    }

    .Content_port4 img{
        width: 500px;
        height: 350px;
    }

    .Content_contact{
        text-align: center;
        margin: 1em;
        margin-top: 2em;
        font-size: 3em;
        font-weight: bold; 
    }
    
    .Content_contact1{
        display: flex;
        justify-content: center;
        gap: 5em;
    }
    
    .Content_celular{
        text-align: center;
    }
    
    .Content_email{
        text-align: center;
    }
    
    .Content_svg1{
        width: 100px;
        height: 100px;
        display: inline-flex;
        justify-content: center;
        border-radius: 100%;
        margin: .5em;
        background-color: #F0EBE3;
    }
    
    .Content_svg1 svg{
        width: 60%; 
        height: 60%;
        margin: 1em;   
        margin-top: 1.4em;
    }
    
    .Content_celular p:nth-child(2){
        font-size: 1.5em;
        font-weight: bold;
        margin: .2em;
    }
    
    .Content_celular p:nth-child(3){
        color: grey;
    }
    
    .Content_svg2{
        background-color: #F0EBE3;
        width: 100px;
        height: 100px;
        display: inline-flex;
        justify-content: center;
        border-radius: 100%;
        margin: .5em;
    }
    
    .Content_svg2 svg{
        width: 60%;
        height: 60%;
        margin: 1em;   
        margin-top: 1.4em;
    }
    
    .Content_email p:nth-child(2){
        font-size: 1.5em;
        font-weight: bold;
        margin: .2em;
    }
    
    .Content_email p:nth-child(3){
        color: rgb(128, 128, 128) ;
    }

    .Content_final{
        background-color: #197f5b;
        margin-top: 5em;
        height: 200px;
    }
    
    .Content_final p:nth-child(1){
        text-align: center;
        padding: 1em;
        font-size: 3em;
        font-family: var(--f-Poppins);
        color: white;
    }
    
    .Content_final p:nth-child(2){
        text-align: center;
        padding: 0.2em;
        font-size: 1.2em;
        color: white;
    }
    
}



